$primary-font: 'Open-sans';
$secondary-font: 'Poppins';

// colors
$primary-color: #151515;
$primary-color-b: #575757;
$primary-color-c: #A9A9A9;
$primary-color-d: #D1D1D1;
$primary-color-e: #EBEBEB;
$primary-color-f: #F5F5F5;
$primary-color-h: #F9F9F9;

$secondary-color: #6A983C;
$secondary-color-b: #46760A;
$secondary-color-c: #92C064;
$secondary-color-d: #C8DEB3;
$secondary-color-e: #F4F8EC;

$gold-color: #D0A866;
$gold-color-b: #B28A48;
$gold-color-c: #ECD2A6;
$gold-color-d: #FAEDD8;
$gold-color-e: #FFF9F0;

$orange-color: #E6704B;
$orange-color-b: #C7522D;
$orange-color-c: #EB8D70;
$orange-color-d: #F7C6B7;
$orange-color-e: #FFF1ED;

$marine-color: #37D0D6;
$marine-color-b: #19B2B8;
$marine-color-c: #7CD0D3;
$marine-color-d: #B9E6E8;
$marine-color-e: #ECF6F7;
